*{
    scroll-behavior: smooth;
}

.logo {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 22px;
    font-family: 'Freestyle Script', sans-serif;
    text-decoration: underline;
    z-index: 1;
  }

.main_home {
    display: flex;
  }

  .img_home_bg {
    flex: 0 0 60%;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-right: 8%;
    padding: 1rem;
    margin-bottom: 20px;
    margin-left:10% ;
  }

  .nav_bar,
  .nav_bar_developer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
    margin-left: 3%;
  }
  
  .nav_bar a.right {
    margin-left: 25px;
    font-size: 30px;
  }
  
  .nav_bar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Agency FB';
    font-size: 32px;
    margin: 10px;
  }
  
  .nav_bar a:hover {
    color: rgb(82, 82, 82);
  }
  
  .menu-icon {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-bottom: 6px;
  }
  
  .responsive #navigation {
    transform: translateX(0);
  }
  
  .responsive #hamburger_menu {
    display: none;
  }
  
  #main_skills{
    margin-bottom: 0%;

  }


  .img_contact{
    width: 100%;
    height: auto;
  }

  .img_home_bg{
    width: 50%;
   float: right;
  }

  .main_contact {
    position: relative;
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 0px;
    background-color: #1C2323;
  }

  .icon_wrapper {
    position: absolute;
    bottom: 0;
    left: 100px;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 80px;
    margin-right: 50px;
    transition: transform 0.3s ease;
  }


  .icon:hover {
    transform: scale(1.1);
  }
  #contact_form {
    position: absolute;
    top: 40%;
    left: 100px;
    transform: translateY(-50%);
    padding: 20px;
    width: 50%; 
    margin: 20px;
  }

  #contact_form h1 {
    font-family: 'Agency FB';
    font-size: 24px;
    color: white;
    font-weight: 50;
    margin-bottom: 20px; 
  }

  #contact_form input[type="text"],
  #contact_form textarea {
    font-family: 'Agency FB', sans-serif;
    font-size: 16px;
    padding: 10px; 
    width: 80%;
    box-sizing: border-box; 
    margin-bottom: 10px; 
  }

  #contact_form textarea {
    height: 200px;
  }
  #contact_form input[type="submit"] {
    font-family: 'Agency FB', sans-serif;
    font-size: 18px;
    padding: 10px 20px; 
    align-items: center;
    background-color: white;
    transition: transform 0.3s ease;
  }


  #contact_form input[type="submit"]:hover {
    transform: scale(1.1);
}

/* Developer/*/
  #menu-bar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu-icon {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
  }
  
  #navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 2;
  }
  

  #close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 1rem;
  }
  
  #close-button .menu-icon {
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
  }
  
  #close-button .menu-icon:last-child {
    margin-bottom: 0;
  }

  .nav_bar_developer a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Agency FB';
    font-size: 25px;
    margin: 10px;
  }
  .nav_bar_developer #right{
    font-size: 22px;
  }

  .nav_bar_developer a:hover {
    color:rgb(172, 172, 172) ;
  }

  .developer_body, .developer_html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center; 
}


.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    max-height: 550px;   
    overflow: hidden;
  position: relative;
 
  
}

.carousel-item  {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: rgb(244, 244, 244);
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item__image {
    width: 60%;
    height: 50%;
    order: 2;
    align-self: flex-start;
    flex-basis: 60%;
    -webkit-order: 2;
    -webkit-align-self: flex-start;
    margin-top: 20%;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: "Agency FB";
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 100;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: "Agency FB";
    font-size: 20px;
    color: #000000;
    line-height: 22px;
    margin-bottom: 35px;
}

li{
  font-size: 18px;
  font-family: "Agency FB";
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}

@media (max-width: 1200px) {
  #contact_form textarea {
    height: 50px;
  }

  .carousel-item__title {
    font-size: 28px;
    line-height: 24px;
  }
  
  .carousel-item__description {
    font-size: 20px;

  }
  .icon {
    width: 50px;
    margin-right: 20px;

  }
  li{
    font-size: 14px;
  }
}


/* Responsive adjustments */
@media (max-width: 768px) {

  #navigation {
    width: 100%;
  }

  .carousel-item{
    flex-direction: column;
  }


  li{
    font-size: 12px;
  }

  .nav_bar a 
  {
    font-size: 12px;
  }

  .nav_bar a.right {
    font-size: 10px;
  }

  .img_home_bg {
    width: 10px;
    margin-left: 0px;
    height: auto;
    
  }

  .main_contact {
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: center;
  }

  #contact_form h1 {
    font-size: 15px;
  }
  #contact_form textarea {
    height: 100px;
  }


  #contact_form input[type="submit"] 
  {
    font-size: 10px;
  }

  .icon_wrapper {
    left: 30px;
    padding: 0.3rem;
    margin-left: 80px;
  }

  .icon {
    width: 40px;
  }


  #contact_form {
    top: 40%;
    left: 0px;
    width: 20%; 
    height: auto;
  }


  #contact_form input[type="text"],
  #contact_form textarea {
    width: 100%;
  }

  #contact_form textarea {
    height: 50px;
  }

  .carousel-item__image {
    margin-top: 2%;
    padding: 3rem;
    width: 80%;
  }
  
  .carousel-item__title {
    font-size: 22px;
    line-height: 24px;
  }
  
  .carousel-item__description {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}



@media (max-width: 480px) {
  .icon_wrapper {
    left: 30px;
    padding: 0.3rem;
    margin-left: 80px;
  }

  .icon {
    width: 30px;
  }
}